<div class="d-flex flex-column align-items-center justify-content-center bg-i vh-100 vw-100 position-absolute top-0 start-0"
     style="background-image: url('https://placehold.co/1920x1080');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;">
  <h1>Show off your collection</h1>
  <p class="fs-5">All your PCs in one place</p>
</div>
