@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

div.stars {
  width: 270px;
  display: flex;
  flex-direction: row-reverse;
}

input.star {
  display: none;
}

label.star {
  padding-inline: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;

  &:before {
    content: '\f006';
    font-family: FontAwesome;
  }
  &:hover {
    transform: scale(1.3);
  }

  input.star:checked ~ &:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
}
